a:link{
    color:rgb(112, 11, 206);
}

a:visited{
    color:rgb(17, 108, 184);
}

a:hover{
    color:rgb(80, 255, 194);
}

a:active{
    color:cornflowerblue;
}

.block{
    margin: 25px;
}

#header-img{
    width: 400px;
    max-width: max-content;
    max-height: max-content;
    border-radius: 20%;
}

#Main-Heading{
    display:inline-block;
    color:rgb(251, 127, 148);
    font-style: italic;
    font-weight: 200;
    width: 250px;
    height: 100px;
    background-color: rgb(143, 201, 253);
    border-radius: 50%;
    line-height: 50px;
    padding: 15px 15px 15px 15px;
}

.button{
    background-color: rgb(20, 87, 146);
    color:rgb(237, 100, 100);
    text-align: center;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 30%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-color: darkblue;
    cursor: pointer;
}

.button:hover{
    border-radius: 50%;
    background-color: rgb(7, 7, 96);
}

body{
    background-color: rgb(71, 164, 164);
}

.header-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.header-item:nth-of-type(1){
    left: 0;
}

.header-item:nth-of-type(2){
    right: 0;
}


.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(106, 187, 63)
}

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul li {
    left: 0;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color:rgb(184, 255, 255);
    text-align: center;
    padding: 5px;
}

.navbar ul li a:hover {
    color: rgb(255, 68, 236);
}


h2{
    text-align: center;
    color: rgb(110, 38, 217);
}

h3{
    text-align: center;
    color:rgb(157, 3, 34);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    display: block;
    margin: auto;
}

li{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

div{
    margin: 25px 25px 25px 25px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

#events{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.box{
    background-color: rgba(164, 255, 255, 0.746);
    padding: 20px;
}

#linkstitle{
    margin-top: 50px;
    margin-bottom: 0;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.chunk{
    padding: 5px;
}

.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    display:flex;
    gap: 20px;
    background-color: rgb(177, 219, 255);
}
